<ion-header >
  
    <ion-grid>
          <ion-row>
              <ion-col size="2" class="left-back">
                    <ion-icon name="chevron-back-outline"></ion-icon>    
              </ion-col>
              <ion-col size="4" class="middle-ttl">
                <h2>Dashboard</h2>
              </ion-col>
              <ion-col size="6" class="right-profile">
                    <img class="notificason" src="/assets/images/notification-bell.png">
                    <ion-icon name="person"></ion-icon>
              </ion-col>
          </ion-row>
     </ion-grid>     

</ion-header>

<ion-content>
    <div class="title-rw">
      <h2>Issuance</h2>
    </div>
    <div class="registration-field-section">
    <ion-list>
  <ion-item lines="none">
    <ion-select class="form-ctrl" placeholder="Center">
      <ion-select-option value="apples">Apples</ion-select-option>
      <ion-select-option value="oranges">Oranges</ion-select-option>
      <ion-select-option value="bananas">Bananas</ion-select-option>
    </ion-select>
  </ion-item>

</ion-list>
</div>
        <ion-list class="payment-row">
          
          <ion-item>

            <div class="left-pay">
              <div class="row-1">
                  <img src="/assets/images/calendar.png"> <span>22/08/2022 </span>
              </div>
              <div class="row-2">
                  <strong>Name</strong> : <span>  Player’s Name</span>
              </div>
              <div class="row-3">
                  <strong>Type</strong> : <span> Product Type</span>
              </div>
              <div class="row-3">
                  <strong>Quantity</strong> : <span>  5</span>
              </div>
                            
            </div>
            <div class="right-pay">
              <ion-button size="small">Pending</ion-button>
            </div>
          </ion-item>

           <ion-item>

            <div class="left-pay">
              <div class="row-1">
                  <img src="/assets/images/calendar.png"> <span>22/08/2022 </span>
              </div>
              <div class="row-2">
                  <strong>Name</strong> : <span>  Player’s Name</span>
              </div>
              <div class="row-3">
                  <strong>Type</strong> : <span> Product Type</span>
              </div>
              <div class="row-3">
                  <strong>Quantity</strong> : <span>  5</span>
              </div>
                            
            </div>
            <div class="right-pay">
              <ion-button size="small" class="green">Accept</ion-button>
            </div>
          </ion-item>
          <ion-item>

            <div class="left-pay">
              <div class="row-1">
                  <img src="/assets/images/calendar.png"> <span>22/08/2022 </span>
              </div>
              <div class="row-2">
                  <strong>Name</strong> : <span>  Player’s Name</span>
              </div>
              <div class="row-3">
                  <strong>Type</strong> : <span> Product Type</span>
              </div>
              <div class="row-3">
                  <strong>Quantity</strong> : <span>  5</span>
              </div>
                            
            </div>
            <div class="right-pay">
              <ion-button size="small" class="green">Accept</ion-button>
            </div>
          </ion-item>
          <ion-item>

            <div class="left-pay">
              <div class="row-1">
                  <img src="/assets/images/calendar.png"> <span>22/08/2022 </span>
              </div>
              <div class="row-2">
                  <strong>Name</strong> : <span>  Player’s Name</span>
              </div>
              <div class="row-3">
                  <strong>Type</strong> : <span> Product Type</span>
              </div>
              <div class="row-3">
                  <strong>Quantity</strong> : <span>  5</span>
              </div>
                            
            </div>
            <div class="right-pay">
              <ion-button size="small" class="green">Accept</ion-button>
            </div>
          </ion-item>


        </ion-list>

</ion-content>
<ion-footer>
    <div class="container">
      <ion-grid>
        <ion-row>
          <ion-col  size="5" class="left-footer">
            <ion-row>
            <ion-col class="footer-con"  size="6">
              <ion-icon name="home"></ion-icon>
              <h5 class="act">Home</h5> 
            </ion-col>
            <ion-col class="footer-con"  size="6">
              <ion-col size="6">
              <ion-icon name="timer-outline"></ion-icon>
              <h5>Tab 2</h5> 
            </ion-col>
                        </ion-col>
          </ion-row>
          </ion-col>
          <ion-col  size="2" class="middle-footer">
            <a class="white-round-p"><img src="/assets/images/home.png"></a>
          </ion-col>
          <ion-col  size="5" class="right-footer">
            <ion-row>
            <ion-col class="footer-con"  size="6">
              <ion-icon name="calendar-clear-outline"></ion-icon>
              <h5>Tab 3</h5> 
            </ion-col>
            <ion-col  class="footer-con"  size="6">
              <ion-col  size="6">
              <ion-icon name="person-outline"></ion-icon>
              <h5>Tab 4</h5> 
            </ion-col>
            </ion-col>
          </ion-row>
          </ion-col>

        </ion-row>
      </ion-grid>
    </div>
</ion-footer>