<ion-header >
  
    <ion-grid>
          <ion-row>
              <ion-col size="2" class="left-back">
                    <ion-icon (click)="Back()" name="chevron-back-outline"></ion-icon>    
              </ion-col>
              <ion-col size="4" class="middle-ttl">
                <h2>Dashboard</h2>
              </ion-col>
              <ion-col size="6" class="right-profile">
                    <img class="notificason" src="/assets/images/notification-bell.png">
                    <ion-icon name="person"></ion-icon>
              </ion-col>
          </ion-row>
     </ion-grid>     
</ion-header>
<ion-content>

  
<ion-list class="roster-row">

    <div class="registration-field-section">
    <ion-list>
      <ion-item lines="none">
   <ion-input type="text" class="form-ctrl" placeholder="Full Name" >{{namee}}</ion-input>
  </ion-item>
  <ion-item lines="none">
   <ion-input type="text" class="form-ctrl" placeholder="Contact Number" >{{phonee}}</ion-input>
  </ion-item>
  <ion-item lines="none">
   <ion-input type="text" class="form-ctrl" placeholder="Email ID" >{{emaill}}</ion-input>
  </ion-item>
   <ion-item lines="none">
    <ion-select class="form-ctrl" placeholder="Sports">
      <ion-select-option value="apples" *ngFor="let sportsResults of sportsResult" value="{{sportsResults.spId}}" >{{ sportsResults.name}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item lines="none">
    <ion-select class="form-ctrl" placeholder="Epi-Center" (ionChange)="handleChange($event)">
   <ion-select-option *ngFor="let cityResults of cityResult" value="{{cityResults.cityId}}" >{{ cityResults.name}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item lines="none">
    <ion-select class="form-ctrl" placeholder="Bhubaneswar Centres">
      <ion-select-option value="apples" *ngFor="let centerResults of centerResult" value="{{centerResults.cenId}}">{{ centerResults.name}}</ion-select-option>
    </ion-select>
  </ion-item>

</ion-list>
<ion-button type="submit" class="custom-button" (click)=sendEnquiryDetails()>Submit</ion-button> 
</div> 
</ion-list>

</ion-content>
