<ion-header >
  <div class="container">
    <ion-grid>
          <ion-row>
              <ion-col size="2" class="left-back">
                    <ion-icon (click)="Back()"  name="chevron-back-outline"></ion-icon>    
              </ion-col>


          </ion-row>
     </ion-grid>     
  </div>
</ion-header>
<ion-content>
  <div class="coach-login-body">
    <h2>ArdoR</h2>
    <p>SPORTS Academy</p>
    <h3>Change Password !</h3>
  </div>
  <div class="coach-form-body">
    <ion-list>
   <ion-item lines="none">
    <ion-input type="Current Password" class="form-ctrl" placeholder="Password" ></ion-input><span class="eye"><ion-icon name="eye"></ion-icon></span>
  </ion-item>
  <ion-item lines="none">
    <ion-input type="New Password" class="form-ctrl" placeholder="Password" ></ion-input><span class="eye"><ion-icon name="eye"></ion-icon></span>
  </ion-item>
  <ion-item lines="none">
    <ion-input type="Confirm Password" class="form-ctrl" placeholder="Password" ></ion-input><span class="eye"><ion-icon name="eye"></ion-icon></span>
  </ion-item>
   <ion-item lines="none">
    <ion-button type="submit" class="custom-button">Change</ion-button>
   </ion-item>
   
   
</ion-list>
  </div>
</ion-content>