<ion-header >
     <ion-grid>
          <ion-row>
              <ion-col size="2" class="left-back">
                    <ion-icon name="menu"></ion-icon>   
              </ion-col>
              <ion-col size="6" class="middle-ttl">
                <h2>Hello <span>Player Name! </span></h2>
              </ion-col>
              <ion-col size="4" class="right-profile">
                    <img class="notificason" src="/assets/images/notification-bell.png">
                    <ion-icon name="person" routerLink="/profile"></ion-icon>
              </ion-col>
          </ion-row>
     </ion-grid>     
</ion-header>
<ion-content>
    
    <div class="dashboard-header">
        <ion-grid class="dashboard-header-top">
          <ion-row>
              <ion-col size="9" class="dashboard-header-top-left">
                    <h3>Welcome to your Dashboard!</h3>   
              </ion-col>
              <ion-col size="3" class="dashboard-header-top-right">
                <img src="/assets/images/sports-1.png">
              </ion-col>
          </ion-row>
     </ion-grid> 
      <ion-grid class="dashboard-header-btm">
          <ion-row>
              <ion-col size="3" class="dashboard-header-btm-col">
                    <img routerLink="/jersey-view" src="/assets/images/soccer-jersey1.png">
                    <h3 routerLink="/jersey-view">Jersey / Kit</h3>   
              </ion-col>
              <ion-col size="3" class="dashboard-header-btm-col">
                    <img routerLink="/roster" src="/assets/images/checklist-1.png">
                    <h3 routerLink="/roster">Roster</h3>   
              </ion-col>
              <ion-col id="open-modal" expand="block" size="3" class="dashboard-header-btm-col">
                    <img routerLink="/attendance" src="/assets/images/checked1.png">
                    <h3 routerLink="/attendance">Attendance</h3>   
              </ion-col>
              <ion-col size="3" class="dashboard-header-btm-col">
                    <img routerLink="/payment" src="/assets/images/debit-card.png">
                    <h3 routerLink="/payment">Payments</h3>   
              </ion-col>
          </ion-row>
     </ion-grid>  
    </div>
    <div class="title-rw">
      <h2>Events</h2>
      <a routerLink="/events">View All</a>
    </div>
    <div class="events-img-section">
      <div class="img-row">
      <img src="/assets/images/match-img.jpg">
      <div class="img-caption">
        <h5>Football Match</h5>
      </div>
     
    </div>
    </div>


    <div class="right-to-play-bdy">
        <ion-grid>
          <ion-row>
              <ion-col size="3" class="right-to-play-left">
                      <img src="/assets/images/bnyn.png"> 
              </ion-col>
              <ion-col size="6" class="right-to-play-mdl">
                      <h3>Star <span> Players</span></h3>
              </ion-col>
              <ion-col size="3" class="right-to-play-right">
                      <ion-icon name="chevron-forward-outline"></ion-icon>
              </ion-col>
          </ion-row>
        </ion-grid>
    </div>
    <div class="right-to-play-bdy">
        <ion-grid>
          <ion-row>
              <ion-col size="3" class="right-to-play-left">
                      <img src="/assets/images/events.png"> 
              </ion-col>
              <ion-col size="6" class="right-to-play-mdl">
                      <h3>Star <span> Players</span></h3>
              </ion-col>
              <ion-col size="3" class="right-to-play-right">
                      <ion-icon name="chevron-forward-outline"></ion-icon>
              </ion-col>
          </ion-row>
        </ion-grid>
    </div>

    <ion-modal class="single-event-apply-modal" trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
          <img class="close-img" (click)="cancel()" src="/assets/images/cancel.png">
         
      </ion-header>
      <ion-content class="ion-padding">
        <div class="event-pop-form">
          <div class="registration-field-section">
    <ion-list>
  <ion-datetime locale="es-ES">
  <span slot="time-label">Tiempo</span>
</ion-datetime>
 
</ion-list>

</div>
  
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
<ion-footer>
    <div class="container">
      <ion-grid>
        <ion-row>
          <ion-col  size="5" class="left-footer">
            <ion-row>
            <ion-col class="footer-con"  size="6">
              <ion-icon name="home"></ion-icon>
              <h5 class="act">Home</h5> 
            </ion-col>
            <ion-col class="footer-con"  size="6">
              <ion-col size="6">
              <ion-icon name="timer-outline"></ion-icon>
              <h5>Tab 2</h5> 
            </ion-col>
                        </ion-col>
          </ion-row>
          </ion-col>
          <ion-col  size="2" class="middle-footer">
            <a class="white-round-p" routerLink="/pre-login-dashboard"><img src="/assets/images/home.png"></a>
          </ion-col>
          <ion-col  size="5" class="right-footer">
            <ion-row>
            <ion-col class="footer-con"  size="6">
              <ion-icon name="calendar-clear-outline"></ion-icon>
              <h5>Tab 3</h5> 
            </ion-col>
            <ion-col  class="footer-con"  size="6">
              <ion-col  size="6">
              <ion-icon name="person-outline"></ion-icon>
              <h5>Tab 4</h5> 
            </ion-col>
            </ion-col>
          </ion-row>
          </ion-col>

        </ion-row>
      </ion-grid>
    </div>
</ion-footer>










