<ion-header >
  
    <ion-grid>
          <ion-row>
              <ion-col size="2" class="left-back">
                    <ion-icon (click)="Back()"
                    name="chevron-back-outline"></ion-icon>    
              </ion-col>
              <ion-col size="4" class="middle-ttl">
                <h2>Dashboard</h2>
              </ion-col>
              <ion-col size="6" class="right-profile">
                    <img class="notificason" src="/assets/images/notification-bell.png">
                    
              </ion-col>
          </ion-row>
     </ion-grid>     

</ion-header>

<ion-content>
  <ion-grid>
          <ion-row>
              <ion-col size="8" class="left-profile-text">
                      <h3>Player’s Name</h3>
                      <div class="row-1">
                        <img src="/assets/images/calendar.png"> <span>06/09/2022</span>
                      </div>
                      <div class="row-1">
                        <img src="/assets/images/phone-call.png"> <span>(+91) 99999 99999</span>
                      </div>
                      <div class="row-1">
                        <img src="/assets/images/email-1.png"> <span>mail@website.com</span>
                      </div>
              </ion-col>
              <ion-col size="4" class="right-profile-icon">
                <ion-icon name="person"></ion-icon>
              </ion-col>
              
          </ion-row>
     </ion-grid> 
     <ion-list class="payment-row">
          
          <ion-item>
              <div class="row-prf">
                  <strong>Aadhar Number</strong>
                  <p>0000 0000 0000</p>
              </div>
          </ion-item>
          <ion-item>
              <div class="row-prf">
                  <strong>Age Group</strong>
                  <p>Under 16</p>
              </div>
          </ion-item>
          <ion-item>
              <div class="row-prf">
                  <strong>Blood Group</strong>
                  <p>B +ve</p>
              </div>
          </ion-item>
          <ion-item>
              <div class="row-prf">
                  <strong>Address</strong>
                  <p>Address text goes here text goes here text goes here  text goes here text goes here text goes here</p>
              </div>
          </ion-item>
          <ion-item>
              <div class="row-prf">
                  <strong>Parent’s Name</strong>
                  <p>Name Middle Surname</p>
              </div>
          </ion-item>
          <ion-item>
              <div class="row-prf">
                  <strong>Parent’s Contact Number</strong>
                  <p>(+91) 99999 99999</p>
              </div>
          </ion-item>
          <ion-item>
              <div class="row-prf">
                  <strong>Date Of Joining</strong>
                  <p>06/09/2022</p>
              </div>
          </ion-item>

           


        </ion-list>    
</ion-content>
<ion-footer>
    <div class="container">
      <ion-grid>
        <ion-row>
          <ion-col  size="5" class="left-footer">
            <ion-row>
            <ion-col class="footer-con"  size="6">
              <ion-icon name="home"></ion-icon>
              <h5 class="act">Home</h5> 
            </ion-col>
            <ion-col class="footer-con"  size="6">
              <ion-col size="6">
              <ion-icon name="timer-outline"></ion-icon>
              <h5>Tab 2</h5> 
            </ion-col>
                        </ion-col>
          </ion-row>
          </ion-col>
          <ion-col  size="2" class="middle-footer">
            <a class="white-round-p"><img src="/assets/images/home.png"></a>
          </ion-col>
          <ion-col  size="5" class="right-footer">
            <ion-row>
            <ion-col class="footer-con"  size="6">
              <ion-icon name="calendar-clear-outline"></ion-icon>
              <h5>Tab 3</h5> 
            </ion-col>
            <ion-col  class="footer-con"  size="6">
              <ion-col  size="6">
              <ion-icon name="person-outline"></ion-icon>
              <h5>Tab 4</h5> 
            </ion-col>
            </ion-col>
          </ion-row>
          </ion-col>

        </ion-row>
      </ion-grid>
    </div>
</ion-footer>